* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  background-color: rgb(238, 170, 170);
  border: 1px solid black;
  min-height: 50px;
}

.hide {
  display: none;
}

.main-wrapper {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
}

.row-container {
  display: flex;
  width: 100%;
  height: 70%;
  margin: auto;
}
.slider {
  position: relative;
}
.thumb {
  width: 100%;
  height: 20%;
}
.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.items-wrapper {
  width: 100%;
  height: 100%;
}

.items-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 37px;
  color: lightgray;
  font-size: 1.4rem;
  background-color:  rgba(0, 0, 0, .5);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.btn.top { 
  top: 10px;
}
.btn.bottom {
  bottom: 10px;
}

.active {
  border: 4px solid white;
  opacity: 0.8;
}